<div class="status-trend-container mt-3">
    <nav class="navbar" style="background-color: #8A58C5">
        <div class="container-fluid justify-content-center">
            <strong><a class="navbar-brand" style="color: white">Status Trend</a></strong>
          </div>
    </nav>
    <div class="trend-chart">
        <!-- Insert the chart rendering component/code here. -->
    </div>
    <div class="trend-info mx-4">
        <div><strong>Not Fatigue:</strong> 0</div>
        <div><strong>Fatigue:</strong> 1</div>
        <div><strong>Date:</strong> {{ trendDate }}</div>
    </div>
</div>
