<!-- <a>{{employeeName}}</a> -->
<nav class="navbar sticky-top" style="background-color: #8A58C5;">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="#" style="color: white">Recorded Database</a>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <app-user-details></app-user-details>
            <app-status-trend></app-status-trend>
        </div>
        <div class="col-6">
            <app-history-filter></app-history-filter>
        </div>
    </div>
</div>