<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-3 col-content me-5">
            <img src="/assets/user-regular.svg" alt="user" class="img-fluid uniform-size">
        </div>
        <div class="col-8 col-content">
            <div><strong>Name:</strong> {{ userName }}</div><br>
            <div><strong>EmpID:</strong> {{ empID }}</div><br>
            <div><strong>Shift:</strong> {{ userShift }}</div><br>
            <div><strong>Designation:</strong> {{ userDesignation }}</div><br>
        </div>
    </div>
</div>
